<nav class="top-white-nav" ng-controller="searchCtrl">
  <div class="container">

    <div class="row">
      <div class="col alight_left">
        <a href="<%= root_path %>">
          <label class="logo">LAW</label>
        </a>
      </div>
      <div class="col">
        <div id="search_bar">
          <input type="search" placeholder="Search ..." ng-model="keyword" id="searchBox" onfocus="showSearchResults()">
          <div class="searchResults disable" id="searchResults">
            <ul>
              <li ng-repeat="law in cases | filter: keyword">
                <h5>
                  <a ng-href="{{law.case_link}}">
                    {{law.case_name}}
                    <hr>
                  </a>
                </h5>
              </li>
            </ul>
          </div>
          <div id="counter_event" onClick="counterAct()" class="disable">
          </div>
        </div>
      </div>
      <div class="col alight_right">
        <button id="submit_report">
          Contact Us
        </button>
      </div>
    </div>
    <hr>

  </div>

</nav>



<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path%>">Law</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= cases_path %>">Cases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->
